@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1
{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2
{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4
{
    font-size: 20px;
    color: #222;
}

h6
{
    font-weight: 700;
    font-size: 12px;
}

p
{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1
{
    padding: 40px 80px;
}


.section-m1
{
    margin: 40px 0;
}


button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: .2s;

}

button.white
{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:#fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #fff;
    outline: none;
    transition: .2s;

}
body
{
    width: 100%;
}


/* Header Start */

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a
{
   text-decoration: none; 
   font-size: 16px;
   font-weight: 600;
   color: #1a1a1a; 
   transition: .6s;
}

#navbar .fa-cart-shopping
{
    font-size: 20px;
}
    
#navbar li a:hover,
#navbar li a.active
{
    color:#088178;
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



#mobile
{
    display: none;
    align-items: center;
}

/* Home Page*/

#hero 
{
    background-image: url("img/hero4.png");
    height: 110vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}


#hero h4
{
    padding-bottom: 15px;
}

#hero h1
{
    color: #088178;
}


#hero button
{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


#feature .fe-box
{
   width: 180px; 
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0, .3);
   border:1px solid #cce7d0;
   border-radius: 4px;
}

#feature .fe-box:hover
{
    box-shadow: 10px 10px 54px rgba(70, 26, 221, .3);
}

#feature .fe-box img
{
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6
{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 6px;
    color: #088178;
    background-color: #fddde4;

}

#feature .fe-box:nth-child(2) h6
{
 background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6
{
 background-color: #d2dace;
}
#feature .fe-box:nth-child(4) h6
{
 background-color: #acbfd5;
}
#feature .fe-box:nth-child(5) h6
{
 background-color: #d7ae4e;
}
#feature .fe-box:nth-child(6) h6
{
 background-color: #bce6eb;
}

/*Shop page*/

#product1
{
    text-align: center;
}

#product1 img
{
    width: 100%;
    border-radius: 20px;
}


#product1 .pro-container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .pro
{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .3);
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover
{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .6);
    transition: 0.2s ease;
}


#product1 .pro .description
{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description span
{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .description h5
{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .description i
{
    font-size: 12px;
    color: rgb( 243, 181, 25);
}

#product1 .pro .description h4
{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .fa-cart-shopping
{
    width: 40px;
    height: 40px;
    background: #e8f6ea;
    border: 1px solid #cce7d0 ;
    border-radius: 40px;
    line-height: 40px;
    color:#088178;
    font-size: 26px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    
    

}


#banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
}

#banner h4
{
    color: #fff;
    font-size: 16px;

}


#banner h2
{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}


#banner h2 span
{
    color: #ef3636;
}


#banner .banner-box:hover button
{
    background-color: #088178;
    color: #acbfd5;
}


#sm-banner
{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 
}

#sm-banner .banner-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    height: 50vh;
    min-width: 680px;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2
{
    background-image: url(img/banner/b10.jpg);
    background-size: cover;
    background-position: center;
}


#banner3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 80px;
}

#banner3 .banner-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    height: 35vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-3
{
    background-image: url(img/banner/b4.png);
}

#banner3 h2
{
    color: #fff;
    font-weight: 800;
    font-size: 22px;
}

#banner3 h3
{
    font-weight: 900;
    font-size: 15px;
    color: #ec544e;
}






#sm-banner h4
{
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}

#sm-banner h2
{
    color: #fff;
    font-size: 28px;
    font-weight: 800px;
}


#sm-banner span
{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}


#sm-banner button:hover
{
    background-color: #088178;
    color: white;
    border: none;
}


#newsletter
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-color: #041e42;
    padding: 40px 90px;
}


#newsletter #news-text h4
{
    color: whitesmoke;
    font-weight: 600;
    font-size: 24px;
}

#newsletter #news-text p
{
    color: whitesmoke;
}


#newsletter #news-text  span
{
    color: #ca652e;
}

#newsletter .form
{
    display: flex;
    width: 120%;
    justify-content: space-between;
}

#newsletter input 
{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1pc solid transparent;
    border-radius: 4px;
    outline: none;

}

#newsletter button
{
    background-color: #088178;
    color: #fff;
    white-space: nowrap ;
    margin-left: 10px;

}


footer
{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
}


footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

footer .logo
{
    margin-bottom: 30px;

}


footer h4 
{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p 
{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
}

footer a
{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}



footer .follow
{
    margin-top: 20px;
}


footer .follow i
{
    color: #465b52;
    margin-right: 10px;
    font-size: 22px;
    transition: .6s ease-in;
    cursor: pointer;
}

footer .follow i:hover
{
    color: #041e42;
}


footer .install .row img
{
    border: 1px solid #088178;
    border-radius: 6px;
}


footer .install img
{
    margin: 15px;
}

footer .copyright
{
    width: 100%;
    text-align: center;
}


/*Cart Media query*/



@media (max-width: 799px)
{
    .section-p1
    {
        padding: 40px 40px;
    }
    #navbar
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);  
        padding: 80px 0 0 10px;
        transition: .4s ease-in-out;
    }


    #navbar.active
    {
        right: 0px;
    }

    .mobile
    {
        display: flex;
        align-items: center;
    }


    .mobile i
    {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close
    {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
        font-size: 18px;
    }

    #navbar li
    {
        margin-bottom: 25px;
    }

    #lg-bag
    {
        display:  none;
    }


    #hero
    {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }


    #feature
    {  
        justify-content: center;    
    }

    #feature .fe-box 
    {
        margin: 15px 15px;
    }


    #product1 .pro-container
    {
        justify-content: center;
    }

    #product1 .pro
    {
        margin: 15px;
    }

    #banner 
    {
        height: 20vh;

    }


    #sm-banner .banner-box 
    {
        min-width: 100%;
        height: 30vh;
      
    }

    #banner3
    {
        padding: 0 40px;
    }


    #banner3 .banner-box
    {
        width: 28%;
    }

    #newsletter .form
    {
        
        width: 70%;
    }

}


@media (max-width: 477px)
{
    .section-p1
    {
        padding: 20px ;
    }

    #header
    {
        padding: 10px 30px;
    }

    h1
    {
        font-size: 38px;
    }

    h2
    {
        font-size: 32px;
    }

    #hero
    {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature{
        justify-content: space-between;
    }

    #feature .fe-box
    {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro
    {
        width: 100%;
    }

    #banner
    {
        height: 40vh;
    }

    #sm-banner .banner-box
    {
        height: 40vh;
    }

    #sm-banner .banner-box2
    {
        margin-top: 20px;
    }


    #banner3
    {
        padding: 0 20px;
        flex-direction: column;

    }

    #banner3 .banner-box
    {
        width: 100%;
        
    }

    #newsletter
    {
        padding: 40px 20px;
    }

    #newsletter .form
    {
        width: 100%;
    }
}
